* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(28,28,28);
}

/* POKEMON DETAILS */

.pokemon-details {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-details-inner {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.pokemon-details-close-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 0;
    background-color: rgba(255,255,255,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.02);
    transition: background-color 300ms;
    cursor: pointer;
}

.pokemon-details-close-button-svg {
    color: white;
}

.pokemon-details-close-button:hover {
    background-color: rgba(255,255,255,0.1);
}

.pokemon-details-picture {
    width: 350px;
    background-color: rgb(28, 28, 28);
    background: linear-gradient(45deg, rgb(28,28,28), rgb(35,35,35), rgb(28,28,28));
    border-radius: 1rem;
    border: 1;
    overflow: hidden;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-details-picture-itself {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pokemon-details-themselves {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--f-itim);
}

.pokemon-detail-name {
    color: white;
    font-size: 2rem;
    font-weight: 200;
}

.pokemon-detail-weight {
    color: orangered;
    font-size: 2rem;
}